<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Venture for America is a national non-profit that offers a two year fellowship program for aspiring entrepreneurs. Modeled after Teach for America, VFA Fellows spend two years working for a high growth potential startup in cities with emerging startup ecosystems--cities like Detroit, New Orleans, and Las Vegas, among many others. 
</p>


<p>
  The Campus Ambassador Program is an integral part of Venture for America's recruitment efforts. In trying to attract talented grads from across the country, 
</p>