<% provide(:title, 'About') %>
 <div class=" hero-unit">
<h1>Who We Are and What We Do</h1>



<center>

<%= link_to image_tag("/assets/CAs.jpg", alt: "Campus Ambassadors"), 'http://ventureforamerica.org/' %>
</center>
<p></p>


<p>
  Venture for America (“VFA”) is a non-profit organization that seeks to 1) Drive talent to create jobs and spur enterprise in lower-cost cities; 2) Provide a path to entrepreneurship for young, talented college graduates; and 3) Help place recent graduates in start-ups around the country. Venture for America will do for entrepreneurship what Teach for America has done for education – provide a program for young, talented grads to spend 2 years in the trenches of a start-up with the goal that these young graduates will become socialized and mobilized as entrepreneurs moving forward. 
</p>


<p>
  The Campus Ambassador Program is an integral part of VFA's national recruitment efforts. In trying to attract talented grads from across the country, Campus Ambassadors ("CAs") are our most consistent link between the organization and potention Fellows. But CAs are much more than on-campus recruiters. We hope that by building a close-knit cohort of entrepreneurial students, CAs will become a prime resource for entrepreneurship on college campuses.
</p>

<p>
  This is an unpaid internship for the 2013-2014 school year. However, there are several perks including:
</p>

<p>
  -A guaranteed phone interview for the Venture for America fellowship, if you choose to apply
</p>
<p>
  -Exposure to start-ups
</p>
<p>
  -Lots of VFA swag
</p>
<p>
  -The satisfaction of knowing you helped drive our nation’s talent to growth companies across the country!
</p>

<p>
Campus Ambassadors will be tasked with:
</p>

<p>
-Raising awareness through flyers, listserv/email campaigns, Facebook, Twitter, and other online and offline initiatives
</p>
<p>
-Developing partnerships with on-campus student organizations and faculty members
</p>
<p>
-Assisting with on-campus Venture for America events
</p>
<p>
-Brainstorming innovative Venture for America marketing campaigns
</p>

</div>