<% provide(:title, 'Career') %>

<div class="row">
	<div class ="thumbnail">
		<img src="/assets/cf.jpg">
	</div>



<h1> Career Fair</h1>
<p><strong>Course of Action</strong></p>
<p>
<ol>
<li>Chances are, we're coming to your career fair. If so, schedule as much time as possible to help out which ever VFA team member is coming. If we're not, check out the career fair website and let us know when it is.</li>
<li>Provide Lauren with career fair information including date, location, cost, and a website or contact person.  Confirm where the materials pack will be sent.</li>
<li>Make sure to get there at least 15 minutes early to set up your table, like so: 
	<div class ="thumbnail">
		<img src="/assets/zeve.jpg">
	</div>
</li>
<li>After the completion of the fair, e-mail your contact to thank him/her.</li>
<li>If a VFA team member wasn't therem, follow up with Lauren (lauren@ventureforamerica.org) to let her know how it went and send in the reimbursement form and list of attendees.</li>
</ol>
</p>

<p><strong>Matierals</strong><p>
		<li>VFA Materials pack that will be sent to you (handouts, sign-in sheet, cups, pens, and tablecloth)</li>
<li><a href="https://www.dropbox.com/s/8bbydj2pjb72bb2/VFA%20Expense%20Reimbursement%20Form-10.xls">Reimbursement Form</a></li>		
</div>







