<% provide(:title, 'Class') %>

<div class="row">

<h1>Class Talk and Info Session</h1>

<div class ="thumbnail">
		<img src="/assets/infosession.jpg">
	</div>

<p><strong>Course of Action</strong></p>

<p>
<ol>
<li>Reach out to professors and club leaders who you feel would be interested in having you speak about VFA in front of their class or organization.</li>
<li>E-mail Lauren (lauren@ventureforamerica.org) to let her know when you'll be presenting. If public speaking isn't your thing, fear not: Lauren gives great advice!</li>
<li>Print out 1-pagers and prepare PowerPoint deck.</li>
<li>After the completion of the talk, e-mail your contact to thank him/her and attach the 1-pager in case students have more questions. And, of course, email Lauren a list of attendees!</li>
</ol>
</p>

<p><strong>Matierals</strong><p>
<li><a href="https://www.dropbox.com/s/8bbydj2pjb72bb2/VFA%20Expense%20Reimbursement%20Form-10.xls">Reimbursement Form</a></li>
<li><a href="https://www.dropbox.com/s/nzreqlii09jocue/Recruitment%20Deck%20Fall%202013.ppt">Powerpoint Deck</a></li>
<li><a href="https://www.dropbox.com/s/rbhxnx89526qasb/Recruitment%20Handout%202013-2014.pdf">One-Pager</a></li>






