<% provide(:title, 'Contact') %>
<div class="hero-unit">

<p></p>
<p></p>
<h2>Staff</h2>
<p>
  You can contact Zeve Sanderson, Campus Ambassador Liason, or Lauren Gill, Recruitment Manager, at any time.
</p>
<p>
	Zeve Sanderson: (323) 356-7740, zeve@ventureforamerica.org
</p>
<p>
	Lauren Gill: (917) 289-3047, lauren@ventureforamerica.org
</p>
<p></p>
<p></p>

<h2>Fellows</h2>

<p> Here is a list of 2012 Fellows, with their alma maters and email addresses. Feel to reach out to them with any questions about VFA!
</p>


<h2>Cincinnati</h2>
<center><img src="/assets/Cincinnati.jpg" alt="Cincinnati"></center>
<p> Jim Kahmann, Columbia, jkahm89@gmail.com </p>
<p>
Rickey Ishida, Cornell, irick88@gmail.com
</p>
<p>
Chelsea Koglmeier, Duke, chelsea@brandery.org
</p>
<p>
Roanne Lee, Georgetown, roanneclee@gmail.com
</p>
<p>
James Fayal, U of Maryland, JMFayal@gmail.com
</p>
<p>
Max Eisenberg, Wash U, maxwelleisenberg@gmail.com
</p>
<p>
Daniel Bloom, Wesleyan,	danieljordanbloom@gmail.com
</p>


<h2>Detroit</h2>
<center><img src="/assets/Detroit.jpg" alt="Detroit"></center>
<p>
Tim Dingman, Brown (Grad Student), tim.dingman.11@gmail.com
</p>
<p>
Brentt Baltimore, Claremont McKenna, brentt.baltimore@gmail.com
</p>
<p>
Derek Turner, Columbia, derekfturner@gmail.com
</p>
<p>
Todd Nelson, Columbia, toddalexandernelson@gmail.com
</p>
<p>
Brian Bosche, Dartmouth, brian@bosche.com
</p>
<p>
Brian Rudolph, Emory, brian.a.rudolph@gmail.com
</p>
<p>
Gaibrielle Bryant, Harvard, gabby.bryant@gmail.com
</p>
<p>
Jake L'Ecuyer, Michigan State, 7jl22sea@gmail.com
</p>
<p>
Kathy Cheng, MIT, kathyccheng@gmail.com
</p>
<p>
Max Nussenbaum, Wesleyan, max@maxnuss.com
</p>
<p>
Scott Lowe, University of Oklahoma, me@scottdlowe.com
</p>
<p>
Charles Watkins, Yale, charles.watkins12@gmail.com
</p>
<h2>Las Vegas</h2>
<center><img src="/assets/Vegas.jpg" alt="Las Vegas"></center>
<p>
Andrew Chatham, Cornell, ajchatham@gmail.com
</p>
<p>
Rob Solomon, Cornell, robs@downtownproject.com
</p>
<p>
Jude Stanion, UNC, judestanion@gmail.com
</p>
<p>
Ovik Banerjee, UNC, ovikbanerjee@gmail.com
</p>
<p>
Barry Conrad, University of Oklahoma, w.barry.conrad@gmail.com
</p>
<p>
Joshua Levine, Wesleyan, josh.seth.levine@gmail.com
</p>
<p>
Laura Berk, Williams, lauraberk@gmail.com
</p>


<h2>New Orleans</h2>
<center><img src="/assets/NewOrleans.jpg" alt="New Orleans"></center>
<p>
John McGrail, Amherst, john.s.mcgrail@gmail.com
</p>
<p>
Nihal Shrinath, Amherst, nshrinath45@gmail.com
</p>
<p>
Edith Feinstein, Cornell, edie.feinstein@gmail.com
</p>
<p>
Sara Cullen, Cornell, cullensarak@gmail.com
</p>
<p>
Mark Bernstein, Northwestern, mhbernstein@gmail.com
</p>
<p>
Billy Schrero, Tulane University, wschrero@gmail.com
</p>
<p>
Alison Schmitt, UPenn, alison.e.schmitt@gmail.com
</p>
<p>
Michael Mayer, UPenn, michaelamayer@gmail.com
</p>
<p>
Sam Stites, Vassar, stites.sr@gmail.com
</p>


<h2>Providence</h2>
<center><img src="/assets/Providence.jpg" alt="Providence"></center>
<p>
Ethan Carlson, Yale, ethan.l.carlson@gmail.com
</p>
<p>
Sean Lane, BC, slane418@gmail.com
</p>
<p>
Melanie Freidrichs, Brown, melfriedri@gmail.com
</p>
<p>
Sean Pennino, Notre Dame, pennino.sean@gmail.com
</p>
<p>
Bryant Yik, UPenn, byik014@gmail.com
</p>


