<% provide(:title, 'Email') %>
<h1>Email Templates</h1>
<p><strong>Course of Action</strong></p>


<p>Use them as is, edit them, or write your own altogether--it doesn't matter, just start sending those emails!</p>
___________________________________________________________________________________________________
 
<p><strong>General VFA Blurb to Post on List-Servs:</strong><p>
 
<p>To builders, creators, and aspiring entrepreneurs:<p>
 
<p>Applications to Venture for America are now open. Venture for America is a 2-year fellowship program that sends young, talented graduates to work for startups in emerging cities (ie. Cincinnati, Detroit, New Orleans, Providence, Las Vegas), with the goal of mobilizing them as entrepreneurs moving forward. </p>

<p>Its mission is threefold:</p>
<li>To revitalize American cities and communities through entrepreneurship. </li>
<li>To enable our best and brightest to create new opportunities for themselves and others.</li>
<li>To restore the culture of achievement to include value-creation, risk and reward, and the common good. </li>

<p>VFA recruits the best and brightest recent college graduates, provides them with training and mentorship, and places them at partner startups to help grow those organizations. This is an opportunity for students who want to learn how to build companies. </p>

<p>The 2014 Venture for America Fellowship consists of the following components: </p>
<li>Training – a 5-week crash course in startup readiness, held at Brown University in Summer 2014</li>
<li>Company Placement – 2 years of full-time, salaried work at a growth-stage company </li>
<li>Programming and Capstone – Mentorship, networking, professional development opportunities, and ongoing access to an exclusive investor board</li>
<p>To learn more, visit www.ventureforamerica.org. If you have any more questions, please feel free to reach out: (your name, email, and number).</p>

___________________________________________________________________________________________________

<p><strong>Sample Introductory Email about VFA:</strong><p>
 
<p>Hello!</p>
 
<p>My name is (name) and I am the (university) Campus Ambassador for Venture for America.</p>
 
<p>Venture for America is a program designed to recruit the best and brightest college grads to work for two years at emerging start-ups and early-stage companies in cities with lower cost of living (e.g. Detroit, New Orleans, and Cleveland). VFA was recently featured in Time, The Wall Street Journal and The New York Times, (plus more recent press material).  (add something personal)</p>
 
<p>Venture for America is beginning the recruitment process for our 2014 fellow class. Our school is filled with enterprising and talented individuals that I know Venture for America would love to connect with.<p/>
 
<p>Can I meet with you in person to explain more about Venture for America? Please let me know if I can provide any other information that would be helpful, or if there's anyone in particular that I should contact who might be interested in learning more about Venture for America.  Thank you in advance, and look forward to connecting!</p>

___________________________________________________________________________________________________
 

<p><strong>Campus Media Pitch</strong><p>
 
<p>Dear Editor/Writer Name,</p>

<p>My name is ___________and I am a Campus Ambassador for Venture for America, a 2-year fellowship program that sends recent college graduates to work for early stage companies in cities with burgeoning start-up communities. VFA has been featured in Time, The Wall Street Journal and The New York Times.</p>
 
<p>Given the rising interest in entrepreneurship and the upcoming Fall recruiting season, I thought you would be interested in writing an article about VFA and its efforts to help talented college graduates launch their careers as entrepreneurs. There were (X number) of (your campus) graduates in VFA’s first and second Fellowship classes, and as student interest in the program continues to grow, I believe this opportunity would be a worthwhile topic to write about.</p>
<p>Attached is a one-sheeter on the program. Please let me know if you have any questions, I’d be happy to connect you to relevant VFA contacts for your article.</p>

___________________________________________________________________________________________________
 
<p><strong>Email to Faculty</strong></p>

<p>
 
Dear Professor ____________,

</p>

<p>I wanted to let you know about an awesome new opportunity for college students interested in entrepreneurship. My name is ____________ and I work with Venture for America, a 2-year fellowship program that sends recent college graduates to work for start-up companies in cities like Detroit, New Orleans, and Cleveland. VFA's mission is to support a new generation of young entrepreneurs by providing them with training and mentorship, and placing them at partner startups to help build those organizations.</p>
 
<p>I’ve included an informational blurb about Venture for America below. Could you recommend any high-achieving, enterprising students who would be interested in this? Also, if possible, I would like to schedule a time to meet in person and tell you more about Venture for America.<p/>


	<p><strong>Matierals</strong><p>

<li><a href="https://www.dropbox.com/s/rbhxnx89526qasb/Recruitment%20Handout%202013-2014.pdf">One-Pager</a></li>

