<% provide(:title, 'FAQs') %>
 <div class=" hero-unit">
<h1>FAQs</h1>
<h2>Here is a list of questions that tend to arise from potential applicants.</h2>

<p></p>

<h3>General Questions</h3>

<p>
	Q: In a nutshell, VFA is...
</p>

<p>

Venture for America offers a two-year fellowship to work at an emerging start-up or early-stage company in a lower-cost city like Detroit, Providence, or New Orleans. Modeled after Teach for America, Venture for America will provide a path for entrepreneurship to college grads who want to learn how to build companies and create jobs.

</p>

<center>

<%= link_to image_tag("/assets/time.jpg", alt: "Time Magazine Infographic"), 'http://ventureforamerica.org/about/' %>
</center>
<p></p>
<p>
Q: How much does the program cost?
</p>
<p>
There is no cost to the applicant or Fellow. Fellow salaries are paid by the companies. All training and programming costs are also covered, thanks to generous funders and contributions.
</p>
<p>
Q: How will this actually help me start my own company?
</p>
<p>
What better way to learn than with hands-on experience? Fellows will gain invaluable operating experience, and also be able to observe the growth of a startup and the strategy of its executives from the inside. The VFA network also provides access to potential co-founders, investors, and mentors – everything one needs for a strong foundation!
</p>
<p>
Q: Who exactly is VFA looking for?
</p>
<p>
Self-starters, builders, creators, and people who have a history of excelling in a wide range of disciplines. All majors are considered, though computer science and engineering majors have an advantage. Graduate school students are also welcome.
</p>
<p>
Q: Are international students allowed?
</p>
<p>
Venture for America currently only accepts US citizens, nationals, or legal permanent residents for admission into the program. Individuals who are in the United States under a student, work, or tourist visa are not eligible to become Venture for America fellows.
</p>
<p>
Q: What is the difference between the 3 deadlines?
</p>
<p>
Each deadline is a separate admissions cycle for the same class. You need only to apply by one of the three deadlines. For example, if you submit the online application by October 1, you will be considered with everyone else in the October 1 group, and move on with the application process from there.
</p>
<p>
Q: If I am not selected to an early round, can I reapply?
</p>
<p>
You may not reapply for later rounds in the same fellowship year, but you
may reapply the following academic year for the next class.
</p>
<p>
Q: Is there an advantage to applying by the early deadline?
</p>
<p>
There is always an advantage to applying early! We suggest applying to the
earliest deadline that suits your schedule.
</p>
<h3>Company Questions</h3>
<p>
Q: What type of companies do VFA fellows work at?
</p>
<p>
The early-stage companies are selected for excellent leadership and high growth potential. High-tech/internet is most prevalent, with healthcare, marketing, venture capital, education, energy, and many more present among our partners. VFA companies are typically less than 10 years old, with fewer than 50 full-time employees, but demographics are less important than a company's character.
</p>
<p>
Q: How much say do Fellows have over the company and city in which they are placed?
</p>
<p>
Matches between Fellows and Companies are made based on what we know about the Fellow, the Fellow’s preferences, and the needs of our companies. All accepted Fellows submit their preferences in terms of region, role, and company type. We take these factors into consideration, along with the company’s needs and preferences, when making matches.
</p>
<center>

<%= link_to image_tag("/assets/matchmaking.png", alt: "Matchmaking Infographic"), 'http://ventureforamerica.org/matchmaking/' %>
</center>
<p></p>
<p> 
Q: What types of roles do VFA fellows fill at their companies?
</p>
<p>
VFA fellows fill entry-level roles at startups. The roles, responsibilities, and skills of an entry-level employee evolve constantly based on the company’s current strategy. Tasks include account management, content production, marketing, social media, sales and business development, operations, web development, engineering, data analysis, and some lab research. While your job may have a discrete title, at most startups one works across a variety of projects and functions.
</p>
<p>
Q: What happens if a VFA startup fails?
</p>
<p>
If a VFA startup fails, VFA will help Fellows find a new placement at another
partner company to complete the Fellowship.
</p>

<h3>Any other questions you're asked? Email them to zsanderson@ventureforamerica.org</h3>

