<% provide(:title, 'Flyers') %>
<div class="row">
	<div class ="thumbnail">
		<img src="/assets/adventure.jpg">
	</div>


<h1>Flyering</h1>
<p><strong>Course of Action</strong></p>

<li> Check out this ^^ cool poster one of our Campus Ambassadors made!</li>
<li>Either make your own poster or contact Lauren for some designs. </li>
<li>Tape 'em up, and send in a reimbursement form for any material or printing costs.</li>








<p><strong>Matierals</strong><p>


<li><a href="https://www.dropbox.com/s/8bbydj2pjb72bb2/VFA%20Expense%20Reimbursement%20Form-10.xls">Reimbursement Form</a></li>		
</div>
