<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Tell Us What You've Been Doing</h3>
      <%= render 'shared/feed' %>
    </div>
  </div> 
<% else %>
    <div class="center hero-unit">

  <h1>Welcome to the <a href="http://ventureforamerica.org/">Venture for America</a> Campus Ambassador Website!</h1>

  <h2>
    The place for VFA's Campus Ambassadors to connect and collaborate.</a>
  </h2>

  <%= link_to "Sign up!", signup_path, :class => "btn btn-large btn-primary" %>
</div>


<% end %> 
