<ul class="thumbnails">
  <li class="span5">
    <div class="thumbnail">
      <img src="/assets/duke.jpg" alt="">
      <h3>Resources</h3>
      <p>This is where you'll find all of the fun stuff you need to make an impact.</p>
    </div>
  </li>
  <li class="span5">
  <div class="thumbnail">
      <img src="/assets/duke.jpg" alt="">
      <h3>Contact</h3>
      <p>Want to make friends? Find names and emails of all your fellow CAs.</p>
    </div>
</li>
<li class="span5">
  <div class="thumbnail">
      <img src="/assets/duke.jpg" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
</li>

<li class="span5">
  <div class="thumbnail">
      <img src="/assets/duke.jpg" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
</li>
</ul>