
<% provide(:title, 'Materials') %>


<div class ="block1">
  <div class ="row">
    <div class="span4">
      <h1> Materials </h1>
    </div>
    <div class="span8">
      <h4> This section has all the resources you need when reaching out through the different channels at your school. Each has an outline of the steps you should take to coordinate with and request resources from VFA, along with downloadable files to help you out. </h4>
    </div>
  </div>

</div>



<div class="container">
<ul class="thumbnails">

  <li class="span4">
    <div class="thumbnail">
     <a href='/careerfair'><img src="/assets/career.jpg" alt=""></a>
     <h3>Career Fair</h3>
     <p> Career fairs are a great way to spread the VFA mission to a large group of soon-to-be graduates. They're probably the biggest "bang for your buck," as it's easy to meet with dozens of students in a few hours. </p>
          </div>
  </li>

  <li class="span4">
  <div class="thumbnail">
      <a href='/classtalk'><img src="/assets/talk.jpg" alt=""></a>
      <h3>Class Talk/Info Session</h3>
      <p>Speaking in front of a class or presenting for a club allows you to connect with specific groups of students who may be interested in VFA. 
</p>
    </div>
</li>

<li class="span4">
  <div class="thumbnail">
      <a href='/article'><img src="/assets/paper.jpg" alt=""></a>
      <h3>Newspaper</h3>
      <p>Newspapers are a great way to get the mission of VFA to the entire student body. Just remember to get your facts about the organization right!
</p>
    </div>
</li>
</div>



<div class="container">
  <ul class="thumbnails">

<li class="span4">
  <div class="thumbnail">
      <a href='/tabling'><img src="/assets/table.jpg" alt=""></a>
      <h3>Tabling</h3>
      <p>Tabling at a hotspot on campus is a guarenteed way to get a lot of foot traffic. Even if not all the people stop, them seeing the VFA logo leaves a lasting impression.</p>
    </div>
</li>

<li class="span4">
  <div class="thumbnail">
      <a href='flyers'><img src="/assets/flyer.jpg" alt=""></a>
      <h3>Flyer</h3>
      <p>Whether it's handing out the flyers or posting them all around campus, this goes a long way! As VFA continues to grow, brand recognition will be important.</p>
    </div>
</li>

<li class="span4">
  <div class="thumbnail">
      <a href='/emailtemplates'><img src="/assets/email.jpg" alt=""></a>
      <h3>Email Templates</h3>
      <p>This is by far one of the most important things that a campus ambassador can do. Whether it's setting up an in-person meeting or just sharing information about the Fellowship, emails are an easy, effective way to reach large groups of students!</p>
    </div>
</li>

</ul>
</div>
</div>






