<% provide(:title, 'Newspaper') %>


<div class="row">
	<div class ="thumbnail">
		<img src="/assets/campuspapers.jpg">
	</div>


<h1>Newpaper Article</h1>
<p><strong>Course of Action</strong></p>

<li> Reach out to campus newspapers and magazines to see if they'd be interested in writing an article about Venture for America. If they're not, ask whether they'd be interested in your submitting an op-ed.</li>
<li>If they're interested in writing an article themselves, make sure to review the media factsheet, which you can email to the reporter along with the one-pager.</li>
<li>If they're interested in an op-ed, well, have fun! Think about why start-ups are cool and why VFA is even cooler.</li>
<li>Once the article is published, send it over to Megan (megan@ventureforamerica.org).</li>








<p><strong>Matierals</strong><p>

<li><a href="https://www.dropbox.com/s/rbhxnx89526qasb/Recruitment%20Handout%202013-2014.pdf">One-Pager</a></li>


<li><a href="https://www.dropbox.com/s/c3zo8sb810rmlfp/Media_Fact_Sheet_130415.pdf">Media Fact Sheet</a></li>



