<div class="hero-unit">
<% provide(:title, 'Resources') %>
<h1>Resources</h1>
<p>
  For all resources--powerpoint presentations, recruitment flyers, reimbursement forms, etc.--click <a href="https://www.dropbox.com/home/VENTURE%20FOR%20AMERICA/Recruitment/Campus%20Ambassadors">here</a>
</p>
<h4>Article of the Week</h4>
<p>
	Please read Max's <a href="http://www.huffingtonpost.com/venture-for-america/move-where-you-can-matter_b_2875724.html">article</a> in the Huffington Post. 
</p>
<p>
	Max states "...in some cities it's possible to have an impact from the moment you step off the plane." and "...it's easier to get your ideas off the ground here than it is in a lot of other places, that the city's rebirth is just a bunch of people's crazy ideas somehow becoming reality." 

	What implications does or should this have for potential Fellows? How can this shape your answer to the questions we get about moving to VFA Cities?

</p>
