<% provide(:title, 'Responsibilities') %>


  <div class ="row">
    <div class="span8">
      <p></p>
      <h6>
      	Spread the word.
      </h6>
      <p>
      	Your most important responsibility is to spread awareness about VFA around campus. But how? You are interested in VFA because you are entrepreneurial and enterprising, so show it! Speak in front of a class; publish an op-ed in the student paper; pass out flyers in the quad. The website is full of <a href="/materials">materials</a> you can use to connect with your community, but we encourage you to get creative and tailor your approach to your unique college. </p>

      	<!--<p>
      	There are four main groups you should work to connect with: proespctive applicants, clubs/orgs, professors, and career services. Leverage your existing networks, and use VFA in order to create new ones. 
      	</p>-->

      	<h6>Expectations.</h6>
      	<p>We understand you're busy being a college student, and your ambassadorship should be fun and stress-free. We encourage you to do as much as possible given your other commitments, but here is a list of what we expect you to do this semester:</p>
      	<li>Speak in front of at least 1 class.</li>
      	<li>Run at least 1 info session.</li>
      	<li>Work a career fair.</li>
      	<li>Most importantly, talk to your classmates!</li>

      	

      <h6>What's in it for you?</h6>
      <p>
      	Hopefully you're here because you're passionate about our mission to revitalize communities through entrepreneurship. And while being a Campus Ambassador is an unpaid position, we want to reward you for the work you do. As an ambassador, you are guarenteed a phone interview (if you choose to apply) and will have access to VFA's network of Fellows and supporters. We'd also like to reward you for getting people interested in VFA. You will be given a code, which you should give to potential applicants you speak to. This will help us compile internal statistics and allow us to reward you!
      	<li> 5 applicants: VFA tank and $20 Amazon card</li>
      	<li> 10 applicants: VFA CA tee and $50 Amazon card</li>
      	<li> 15 applicants: VFA hoodie, $100 Amazon card, and letter of recommendation (if you'd like one). </li>

    </div>




      <div class="span4">
      <div class = "thumnail">
        <img src="/assets/passingflyers.jpg" atl="">
      </div>
    </div>

        <div class="span4">
      <div class = "thumnail">
        <img src="/assets/zeve.jpg" atl="">
      </div>
    </div>

    <div class="span4">
    	<div class = "thumnail">
    		<img src="/assets/talking.jpg" atl="">
    	</div>
    </div>
      


    <div class="span4">
    	<div class = "thumnail">
    		<img src="/assets/swag.jpg" atl="">
    	</div>
    </div>

      <div class="span4">
      <div class = "thumnail">
        <img src="/assets/card1.jpg" atl="">
      </div>
    </div>
      

</div>

