<% provide(:title, 'Tabling') %>

<div class="row">
	<div class ="thumbnail">
		<img src="/assets/tabling1.jpg">
	</div>


<h1>Tabling</h1>
<p><strong>Course of Action</strong></p>

<li> Reach out to appropriate department to reserve a spot in a central area on campus.</li>
<li>Contanct Lauren (lauren@ventureforamerica.org) to get materials.</li>
<li>Meet some cool people, and make sure to get them to sign up!</li>
<li>Email Lauren the sign-in list and reimbursement form.</li>








<p><strong>Matierals</strong><p>

<li><a href="https://www.dropbox.com/s/rbhxnx89526qasb/Recruitment%20Handout%202013-2014.pdf">One-Pager</a></li>

<li><a href="https://www.dropbox.com/s/8bbydj2pjb72bb2/VFA%20Expense%20Reimbursement%20Form-10.xls">Reimbursement Form</a></li>		
</div>

