<footer class="footer">
  <small>
    Campus Ambassador Website by Zeve Sanderson
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.ventureforamerica.org/">News</a></li>
    </ul>
  </nav>
</footer>